@model UpdateSliderVM

<form method="post">
    <div class="mb-3">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" type="text" class="form-control" name="Title">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="SubTitle">SubTitle</label>
        <input asp-for="SubTitle" type="text" class="form-control" name="SubTitle">
        <span asp-validation-for="SubTitle" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="İmageUrl">İmageUrl</label>
        <input asp-for="İmageUrl" type="text" class="form-control" name="İmageUrl">
        <span asp-validation-for="İmageUrl" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
